<!-- views/adminPanel.ejs -->

<div class="row text-center my-4">
    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h4>Participants</h4>
                <h3><%= participants %></h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4>On Going Tasks</h4>
                <h3><%= ongoingTasks %></h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <h4>Submitted</h4>
                <h3><%= submittedTasks %></h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <h4>New Messages</h4>
                <h3><%= newMessages %></h3>
            </div>
        </div>
    </div>
</div>

<!-- Participant List -->
<div class="participant-list">
    <h4>Participant List</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Class</th>
                <th>Group</th>
                <th>Git</th>
            </tr>
        </thead>
        <tbody>
            <% participantList.forEach(participant => { %>
                <tr>
                    <td><%= participant.id %></td>
                    <td><%= participant.nama %></td>
                    <td><%= participant.nim %></td>
                    <td><%= participant.className %></td>
                    <td><%= participant.groups ? participant.groups.groupName : 'No Group' %></td>
                    <td><%= participant.git %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
