<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate Upload</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <a href="/cms/certificate/add" class="btn btn-success">NEW</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Group</th>
          <th>Grade</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% certificateList.forEach(certificate => { %>
          <tr>
            <td><%= certificate.id %></td>
            <td><%= certificate.users.name %></td>
            <td><%= certificate.group %></td>
            <td><%= certificate.grade %></td>
            <td><%= certificate.status %></td>
            <td>
              <!-- Tombol Edit -->
              <a href="/cms/certificate/edit/<%= certificate.id %>" class="btn btn-primary">Edit</a>
              
              <!-- Tombol Delete -->
              <button class="btn btn-danger" onclick="deleteCertificate('<%= certificate.id %>')">Delete</button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script>
    async function deleteCertificate(certificateId) {
      console.log('Delete button clicked for certificateId:', certificateId);
        if (confirm('Are you sure you want to delete this certificate?')) {
            try {
                const response = await fetch(`/cms/certificate/delete/${certificateId}`, {
                    method: 'DELETE',
                });

                if (response.ok) {
                    // Jika berhasil, reload halaman atau lakukan aksi lain
                    window.location.reload();
                } else {
                    console.error('Error deleting certificate:', response.statusText);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    }
  </script>
</body>
</html>
